
<!doctype html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles/common.css">
<link rel="stylesheet" href="../static/styles/home.css">
<link rel="stylesheet" href="../static/styles/form.css">
<link rel="stylesheet" href="../static/styles/select.css">
<link rel="stylesheet" href="../static/styles/details.css">

<head>
  <meta charset="UTF-8">
    <title>Education Pathways</title>
</head>
<body>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9" id ="home-left-grid">
    <a href="https://carte.utoronto.ca/" target="_blank"><img src="/static/CARTE_logo.jpg" class="img-fluid" style="max-width: 25%"></a>
      <!-- <h1 style="text-align: center">Education Pathways</h1> -->
      <div class="common-page-heading-container">
      <h1><b>Education Pathways</b></h1>
      </div>
      <details>
      <summary>What is Education Pathways?</summary>
      <span>Oh, hello
      <div id= "home-page-introduction">
        <p>Welcome to CARTE's in-development tool for course selection at UofT. Education Pathways allows for more intelligent course searching, by matching not just the terms you search, but ones relevant to them. The more terms you search for, the more relevant your results will be! Even try searching across disciplines for the courses that best cover each.</p>
        <p>Whatever year you are looking for, Education Pathways will also suggest courses in earlier years that will best help you to prepare. To get the most out of this, try searching for courses in a later year and see what is suggested for your current one. </p>
        <!-- style it as a secondary text block. -->
        <div id= "home-page-feedback-text">
          <p>
            We are looking for feedback to improve Education Pathways and make it more useful for students. If you have ideas or suggestions, please <a href="mailto:alex.olson@utoronto.ca">email us!</a>
          </p>
        </div>
      </div>
    </span>
      

      </details>
    </div>
 <div class="col-xs-6 col-md-3">
      {% from "_formhelpers.html" import render_field %}
<div class="form">
    <div class="title">Welcome</div>
    <div class="subtitle">Search for courses</div>
    <div class="input-container ic2">
      <div class="subtitle">Course Year</div>
        <div class="select">
          <select id="standard-select">
              {% for o in form.select %}
              <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
          <span class="focus"></span>
        </div>
      <div class="cut"></div>
    </div>
    <div class="input-container ic1">
      <div class="subtitle">Search Terms</div>
      <input id="course-year" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      </div>
      <p>

      </p> 
     <div class="input-container ic1">
      <div class="subtitle"> Restrict by one of: </div>
      <div class="inner_form">
      <p>
       {{ render_field(form.divisions) }} or {{ render_field(form.departments) }} or {{ render_field(form.campuses) }}
    </p> 
  </div>
    <div class="cut"></div>
  </div>


    <button type="text" class="submit">submit</button>
  </div>

  <!-- Updated border colors such as for an error state -->
<!-- Add to .select ➡️ style="--select-border: red; --select-focus: red" -->

</div>
</div>
</body>
</doctype>