#home-page-introduction{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-right: 100px;
    color: rgba(255, 255, 255, 0.705);
    background-color: rgba(53, 53, 53, 0.705);

}

#home-page-feedback-text{
    margin-top: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.705);
    background-color: rgba(53, 53, 53, 0.705);

}


