#results-page-table-container{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}
#results-page-table-container table{
    border-radius:20px;
    padding: 20px;
    border-collapse: separate;
}

#results-page-table-container table td {
    padding: 3px;
    border-left: 1px solid #00204E;
    border-bottom: 1px solid #00204E;
}

#results-page-table-container table th {
    text-align: center;
    position: sticky;
    top: 2px;
    z-index: 10;
    background-color: #00204E;
    color: white;
    border-left: 1px solid #00204E;
    border-bottom: 1px solid #00204E;
}

#results-page-table-container table th:last-child {
    border-right: 1px solid #00204E;
}

#results-page-table-container table td:last-child {
    border-right: 1px solid #00204E;
}